{
    "openapi": "3.1.0",
    "info": {
        "title": "EDU-DEX Data API",
        "description": "EDU-DEX data API",
        "version": "1.0.2",
        "contact": {
            "name": "WebHare BV",
            "url": "https://webhare.nl",
            "email": "info@webhare.nl"
        }
    },
    "servers": [
        {
            "url": "https://api.edudex.nl/data/v1/",
            "description": "EDU-DEX User API v1.0.1"
        }
    ],
    "paths": {
        "/programs/bulk": {
            "post": {
                "summary": "Get multiple programs",
                "tags": [
                    "Get programs"
                ],
                "requestBody": {
                    "description": "The list of programs to retrieve",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/programs_bulk_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The list of programs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/programs_bulk_response"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/default403"
                    }
                }
            }
        },
        "/validations/programs": {
            "post": {
                "summary": "Validates a single program",
                "tags": [
                    "Validation"
                ],
                "requestBody": {
                    "description": "The program to validate",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validations_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validations_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/validations/institutes": {
            "post": {
                "summary": "Validate institute metadata",
                "tags": [
                    "Validation"
                ],
                "requestBody": {
                    "description": "The institute data to validate",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validations_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validations_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/validations/discounts": {
            "post": {
                "summary": "Validate discounts",
                "tags": [
                    "Validation"
                ],
                "requestBody": {
                    "description": "The discounts to validate",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validations_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validations_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers": {
            "get": {
                "summary": "Get a list of all suppliers",
                "tags": [
                    "Suppliers"
                ],
                "responses": {
                    "200": {
                        "description": "Supplier organization data for all suppliers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Describes a single supplier",
                "tags": [
                    "Suppliers"
                ],
                "responses": {
                    "200": {
                        "description": "Supplier organization data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_list_response/properties/suppliers/items"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/metadata": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Get the organization metadata",
                "tags": [
                    "Supplier metadata"
                ],
                "responses": {
                    "200": {
                        "description": "Organization metadata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/imports/properties/institute_out"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Set the organization metadata",
                "tags": [
                    "Supplier metadata"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/imports/properties/institute_in"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The current metadata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_metadata_put_response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error in the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/put_badrequest"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/programs": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Get list of programs of the supplier",
                "tags": [
                    "Supplier programs"
                ],
                "responses": {
                    "200": {
                        "description": "The list of programs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_programs_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/programs/{programId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/programId"
                }
            ],
            "get": {
                "summary": "Get list of client programs of the supplier for a specific program",
                "tags": [
                    "Supplier programs"
                ],
                "responses": {
                    "200": {
                        "description": "The list of programs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_programs_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/programs/{programId}/{clientId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/programId"
                },
                {
                    "$ref": "#/components/parameters/clientIdOrPublic"
                }
            ],
            "put": {
                "summary": "Create/update a program",
                "tags": [
                    "Supplier programs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/imports/properties/program_in"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated the program",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_programs_put_response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error creating the program",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/put_badrequest"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Deletes a program",
                "tags": [
                    "Supplier programs"
                ],
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the program"
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/discounts": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "List discounts",
                "tags": [
                    "Supplier discounts"
                ],
                "responses": {
                    "200": {
                        "description": "List of discounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_discounts_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/suppliers/{orgUnitId}/discounts/{clientId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/clientId"
                }
            ],
            "get": {
                "summary": "Get discounts for a single client",
                "tags": [
                    "Supplier discounts"
                ],
                "responses": {
                    "200": {
                        "description": "List of discounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/imports/properties/discounts_out"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Create/update discounts for a single client",
                "tags": [
                    "Supplier discounts"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/imports/properties/discounts_in"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated the discounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_discounts_put_response"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created a discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers_discounts_put_response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error creating the discount",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/put_badrequest"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete discounts for a single client",
                "tags": [
                    "Supplier discounts"
                ],
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the discounts"
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "summary": "Get all organizations",
                "tags": [
                    "Organizations"
                ],
                "responses": {
                    "200": {
                        "description": "The list of organizations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Describe a single organization",
                "tags": [
                    "Organizations"
                ],
                "responses": {
                    "200": {
                        "description": "List of static catalogs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_list_response/properties/organizations/items"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "List the catalogs of this organization",
                "tags": [
                    "Static catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "List of static catalogs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_list_response"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new catalog",
                "tags": [
                    "Static catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_staticcatalogs_post_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Catalog created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_staticcatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs/{catalogId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "get": {
                "summary": "Get a static catalog",
                "tags": [
                    "Static catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "Static catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_staticcatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update the static catalog",
                "tags": [
                    "Static catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_staticcatalogs_patch_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Static catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_staticcatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a catalog",
                "tags": [
                    "Static catalogs"
                ],
                "responses": {
                    "204": {
                        "description": "Deleted the catalog"
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs/{catalogId}/changes": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                },
                {
                    "$ref": "#/components/parameters/queryChangesSince"
                }
            ],
            "get": {
                "summary": "Get changes since a certain date",
                "tags": [
                    "Static catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "Changes since a certain date",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_changes_get_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs/{catalogId}/programs": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "get": {
                "summary": "Get all active programs in the catalog",
                "tags": [
                    "Static catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "All active programs in the catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_programs_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs/{catalogId}/programs/bulkadd": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "post": {
                "summary": "Add programs to a catalog",
                "tags": [
                    "Static catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_staticcatalogs_programs_bulkadd_post_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Add programs to a static catalog. You need to store the returned clientId for use in later /programs/bulk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_staticcatalogs_programs_bulkadd_post_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/staticcatalogs/{catalogId}/programs/bulkremove": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "post": {
                "summary": "Remove programs from a catalog",
                "tags": [
                    "Static catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_staticcatalogs_programs_bulkremove_post_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Remove programs from a static catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_staticcatalogs_programs_bulkremove_post_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "List the dynamic catalogs of this organization",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "List of dynamic catalogs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_list_response"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_dynamiccatalogs_post_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Catalog created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs/{catalogId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "get": {
                "summary": "Get a dynamic catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "Dynamic catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update the dynamic catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_dynamiccatalogs_patch_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dynamic catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "204": {
                        "description": "Deleted the catalog"
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs/{catalogId}/changes": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                },
                {
                    "$ref": "#/components/parameters/queryChangesSince"
                }
            ],
            "get": {
                "summary": "Get changes since a certain date",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "Changes since a certain date",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_changes_get_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs/{catalogId}/programs": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "get": {
                "summary": "Get all active programs in the catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "All active programs in the catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_catalogs_programs_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs/{catalogId}/suppliers": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                }
            ],
            "get": {
                "summary": "Get the list of suppliers included in the dynamic catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "The list of suppliers included in the dynamic catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/dynamiccatalogs/{catalogId}/suppliers/{supplierId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/catalogId"
                },
                {
                    "$ref": "#/components/parameters/supplierId"
                }
            ],
            "get": {
                "summary": "Get the settings for a supplier in the dynamic catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "responses": {
                    "200": {
                        "description": "Settings for a supplier in the catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update the settings for a supplier in the dynamic catalog",
                "tags": [
                    "Dynamic catalogs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_put_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated supplier settings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_get_response"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dynamic catalogs"
                ],
                "summary": "Delete a catalog",
                "responses": {
                    "204": {
                        "description": "Deletes a client from the dynamic catalog"
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/webhooks": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Get an organization's webhooks",
                "tags": [
                    "Webhooks"
                ],
                "responses": {
                    "200": {
                        "description": "The list of organization webhooks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_webhooks_list_response"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new organization webhook. A maximum of 5 webhooks can be created per organization.",
                "tags": [
                    "Webhooks"
                ],
                "requestBody": {
                    "description": "The new webhook properties",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_webhooks_post_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The newly created webhook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_webhooks_post_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/webhooks/{webhookId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/webhookId"
                }
            ],
            "get": {
                "summary": "Get a specific organization webhook",
                "tags": [
                    "Webhooks"
                ],
                "responses": {
                    "200": {
                        "description": "The webhook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_webhook"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update a webhook",
                "tags": [
                    "Webhooks"
                ],
                "requestBody": {
                    "description": "Updated fields",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_webhooks_patch_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "New webhook data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_webhook"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete an organization's webhook",
                "tags": [
                    "Webhooks"
                ],
                "responses": {
                    "204": {
                        "description": "Confirms the deletion"
                    }
                }
            }
        },
        "/organizations/{orgUnitId}/webhooks/{webhookId}/test": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/webhookId"
                }
            ],
            "post": {
                "summary": "Send a test message to a webhook",
                "tags": [
                    "Webhooks"
                ],
                "requestBody": {
                    "description": "What to test",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizations_webhooks_test_body"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The webhook test result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizations_webhooks_result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accreditors": {
            "get": {
                "summary": "Get a list of all accreditors",
                "tags": [
                    "Accreditors"
                ],
                "responses": {
                    "200": {
                        "description": "Accreditor organization data for all accreditors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_list_response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accreditors/{orgUnitId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Describes a single accreditor",
                "tags": [
                    "Accreditors"
                ],
                "responses": {
                    "200": {
                        "description": "Accreditor organization data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_list_response/properties/accreditors/items"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accreditors/{orgUnitId}/accreditations": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                }
            ],
            "get": {
                "summary": "Get the list of all accreditations of this organization",
                "tags": [
                    "Accreditations"
                ],
                "responses": {
                    "200": {
                        "description": "List of all accreditations of this organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_accreditations_list_response"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new accreditation",
                "tags": [
                    "Accreditations"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/accreditors_accreditations_post_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Newly created accreditation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_accreditations_list_response/properties/accreditations/items"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accreditors/{orgUnitId}/accreditations/{accreditationId}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/orgUnitId"
                },
                {
                    "$ref": "#/components/parameters/accreditationId"
                }
            ],
            "get": {
                "summary": "Get a single accreditation",
                "tags": [
                    "Accreditations"
                ],
                "responses": {
                    "200": {
                        "description": "List of all accreditations of this organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_accreditations_list_response/properties/accreditations/items"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update a single accreditation",
                "tags": [
                    "Accreditations"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/accreditors_accreditations_patch_requestbody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update created accreditation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accreditors_accreditations_list_response/properties/accreditations/items"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Remove a single accreditation",
                "tags": [
                    "Accreditations"
                ],
                "responses": {
                    "204": {
                        "description": "Accreditation has been removed"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "default400": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "Bad request"
            },
            "default401": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "Authentication is required"
            },
            "default403": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "Access to this resource has been denied"
            },
            "default404": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "The requested resource does not exist"
            },
            "default405": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "The requested method is not supported for this resource"
            },
            "default409": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "A conflict happened when modifying this resource"
            },
            "default412": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "The resource has been modified by another user"
            },
            "default500": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "An internal error has occurred"
            },
            "default503": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/defaultError"
                        }
                    }
                },
                "description": "Service not available"
            }
        },
        "schemas": {
            "defaultError": {
                "type": "object",
                "required": [
                    "status",
                    "error"
                ],
                "properties": {
                    "status": {
                        "type": "number"
                    },
                    "error": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                }
            },
            "orgUnitIdType": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "^[-+a-z0-9_.{}/&]+$",
                "example": "organization-id"
            },
            "clientIdOrPublicType": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "^[-+a-z0-9_.{}/&]+$",
                "example": "client-organization-id (or \"public\")"
            },
            "programIdType": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "^[- #&'()+,./0-9:?A-Z_a-z|éëïü{}]+$",
                "example": "program-id"
            },
            "put_badrequest": {
                "type": "object",
                "required": [
                    "status",
                    "error"
                ],
                "properties": {
                    "status": {
                        "type": "number"
                    },
                    "error": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "validationMessages": {
                        "$ref": "#/components/schemas/validationMessages"
                    }
                }
            },
            "validationMessages": {
                "description": "List of messages the validation process returned",
                "type": "array",
                "items": {
                    "type": "object",
                    "required": [
                        "forClient",
                        "level",
                        "message",
                        "ruleName"
                    ],
                    "additionalProperties": false,
                    "properties": {
                        "contextPath": {
                            "type": "string",
                            "description": "The path to the property that caused the error"
                        },
                        "forClient": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                {
                                    "type": "null"
                                }
                            ]
                        },
                        "level": {
                            "type": "string",
                            "enum": [
                                "warning",
                                "error"
                            ]
                        },
                        "message": {
                            "description": "Error/warning message",
                            "type": "string"
                        },
                        "ruleName": {
                            "description": "Name of the rule that produced the error or warning",
                            "type": "string"
                        },
                        "params": {
                            "type": "object",
                            "additionalProperties": {
                                "oneOf": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "boolean"
                                    },
                                    {
                                        "type": "number"
                                    },
                                    {
                                        "type": "null"
                                    },
                                    {
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "programs_bulk_requestbody": {
                "type": "object",
                "required": [
                    "programs"
                ],
                "additionalProperties": false,
                "properties": {
                    "programs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "orgUnitId",
                                "programId",
                                "clientId"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "orgUnitId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "programId": {
                                    "$ref": "#/components/schemas/programIdType"
                                },
                                "clientId": {
                                    "$ref": "#/components/schemas/clientIdOrPublicType"
                                }
                            }
                        }
                    },
                    "viewDiscountsFor": {
                        "description": "Apply discounts for this client",
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "viewer": {
                        "description": "View programs as this organization (for internal use, requires a special token)",
                        "$ref": "#/components/schemas/orgUnitIdType"
                    }
                }
            },
            "programs_bulk_response": {
                "type": "object",
                "required": [
                    "programs"
                ],
                "additionalProperties": false,
                "properties": {
                    "programs": {
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "type": "object",
                                    "required": [
                                        "orgUnitId",
                                        "programId",
                                        "clientId",
                                        "data"
                                    ],
                                    "additionalProperties": false,
                                    "properties": {
                                        "orgUnitId": {
                                            "$ref": "#/components/schemas/orgUnitIdType"
                                        },
                                        "programId": {
                                            "$ref": "#/components/schemas/programIdType"
                                        },
                                        "clientId": {
                                            "$ref": "#/components/schemas/orgUnitIdType"
                                        },
                                        "error": {
                                            "type": "null"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/imports/properties/program_out"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "required": [
                                        "orgUnitId",
                                        "programId",
                                        "clientId",
                                        "error"
                                    ],
                                    "additionalProperties": false,
                                    "properties": {
                                        "orgUnitId": {
                                            "$ref": "#/components/schemas/orgUnitIdType"
                                        },
                                        "programId": {
                                            "$ref": "#/components/schemas/programIdType"
                                        },
                                        "clientId": {
                                            "$ref": "#/components/schemas/orgUnitIdType"
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "validations_requestbody": {
                "type": "object",
                "required": [
                    "data"
                ],
                "additionalProperties": false,
                "properties": {
                    "data": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "validations_response": {
                "type": "object",
                "required": [
                    "validates",
                    "validationMessages"
                ],
                "additionalProperties": false,
                "properties": {
                    "validates": {
                        "type": "boolean"
                    },
                    "validationMessages": {
                        "$ref": "#/components/schemas/validationMessages"
                    }
                }
            },
            "suppliers_programs_list_response": {
                "type": "object",
                "required": [
                    "items"
                ],
                "additionalProperties": false,
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "orgUnitId",
                                "programId",
                                "clientId",
                                "lastChange"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "orgUnitId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "programId": {
                                    "$ref": "#/components/schemas/programIdType"
                                },
                                "clientId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "lastChange": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "suppliers_programs_put_body": {
                "$ref": "#/components/schemas/imports/properties/program_in"
            },
            "suppliers_programs_put_response": {
                "type": "object",
                "required": [
                    "status",
                    "validationMessages",
                    "lastChange"
                ],
                "additionalProperties": false,
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "ok",
                            "unchanged"
                        ]
                    },
                    "validationMessages": {
                        "$ref": "#/components/schemas/validationMessages"
                    },
                    "lastChange": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "suppliers_discounts_list_response": {
                "type": "object",
                "required": [
                    "items"
                ],
                "additionalProperties": false,
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "orgUnitId",
                                "clientId",
                                "lastChange"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "orgUnitId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "clientId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "lastChange": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "suppliers_discounts_get_response": {
                "$ref": "#/components/schemas/imports/properties/discounts_out"
            },
            "suppliers_discounts_put_body": {
                "$ref": "#/components/schemas/imports/properties/discounts_in"
            },
            "suppliers_discounts_put_response": {
                "type": "object",
                "required": [
                    "status",
                    "validationMessages",
                    "lastChange"
                ],
                "additionalProperties": false,
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "ok",
                            "unchanged"
                        ]
                    },
                    "validationMessages": {
                        "$ref": "#/components/schemas/validationMessages"
                    },
                    "lastChange": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "suppliers_list_response": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "suppliers"
                ],
                "properties": {
                    "suppliers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "id",
                                "name",
                                "lastMetadataChange"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "name": {
                                    "$ref": "#/components/schemas/localizedSet200"
                                },
                                "vatExempt": {
                                    "type": "boolean"
                                },
                                "lastMetadataChange": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "suppliers_get_response": {
                "$ref": "#/components/schemas/suppliers_list_response/properties/suppliers/items"
            },
            "suppliers_metadata_get_response": {
                "$ref": "#/components/schemas/imports/properties/institute_out"
            },
            "suppliers_metadata_put_body": {
                "$ref": "#/components/schemas/imports/properties/institute_in"
            },
            "suppliers_metadata_put_response": {
                "type": "object",
                "required": [
                    "status",
                    "validationMessages",
                    "lastChange"
                ],
                "additionalProperties": false,
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "ok",
                            "unchanged"
                        ]
                    },
                    "validationMessages": {
                        "$ref": "#/components/schemas/validationMessages"
                    },
                    "lastChange": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "accreditors_list_response": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "accreditors"
                ],
                "properties": {
                    "accreditors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "id",
                                "name"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "name": {
                                    "$ref": "#/components/schemas/localizedSet200"
                                }
                            }
                        }
                    }
                }
            },
            "accreditors_get_response": {
                "$ref": "#/components/schemas/accreditors_list_response/properties/accreditors/items"
            },
            "accreditors_accreditations_list_response": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "accreditations"
                ],
                "properties": {
                    "accreditations": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "accreditationId",
                                "orgUnitId",
                                "accreditation",
                                "validFrom",
                                "validUntil"
                            ],
                            "properties": {
                                "accreditationId": {
                                    "$ref": "#/components/parameters/accreditationId/schema"
                                },
                                "orgUnitId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "accreditation": {
                                    "$ref": "#/components/schemas/instituteAccreditation"
                                },
                                "validFrom": {
                                    "format": "date",
                                    "type": "string"
                                },
                                "validUntil": {
                                    "format": "date",
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "accreditors_accreditations_get_response": {
                "$ref": "#/components/schemas/accreditors_accreditations_list_response/properties/accreditations/items"
            },
            "accreditors_accreditations_post_requestbody": {
                "type": "object",
                "required": [
                    "orgUnitId",
                    "accreditation",
                    "validFrom",
                    "validUntil"
                ],
                "properties": {
                    "orgUnitId": {
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "accreditation": {
                        "$ref": "#/components/schemas/instituteAccreditation"
                    },
                    "validFrom": {
                        "format": "date",
                        "type": "string"
                    },
                    "validUntil": {
                        "format": "date",
                        "type": "string"
                    }
                }
            },
            "accreditors_accreditations_patch_requestbody": {
                "type": "object",
                "properties": {
                    "validFrom": {
                        "format": "date",
                        "type": "string"
                    },
                    "validUntil": {
                        "format": "date",
                        "type": "string"
                    }
                }
            },
            "string200": {
                "type": "string",
                "maxLength": 200
            },
            "localizedSet200": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "nl": {
                        "$ref": "#/components/schemas/string200"
                    },
                    "en": {
                        "$ref": "#/components/schemas/string200"
                    },
                    "de": {
                        "$ref": "#/components/schemas/string200"
                    }
                },
                "patternProperties": {
                    "^[a-z][a-z]$": {
                        "$ref": "#/components/schemas/string200"
                    }
                },
                "minProperties": 1
            },
            "organizations_roles": {
                "type": "string",
                "enum": [
                    "supplier",
                    "client",
                    "intermediary",
                    "accreditor"
                ]
            },
            "organizations_list_response": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "organizations"
                ],
                "properties": {
                    "organizations": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "id",
                                "name",
                                "roles"
                            ],
                            "properties": {
                                "id": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "name": {
                                    "$ref": "#/components/schemas/localizedSet200"
                                },
                                "roles": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/organizations_roles"
                                    }
                                },
                                "vatExempt": {
                                    "type": "boolean"
                                },
                                "accreditations": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/instituteAccreditation"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "organizations_get_response": {
                "$ref": "#/components/schemas/organizations_list_response/properties/organizations/items"
            },
            "organizations_catalogs_list_response": {
                "type": "object",
                "required": [
                    "catalogs"
                ],
                "properties": {
                    "catalogs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "catalogId",
                                "clientId",
                                "title",
                                "countActive",
                                "countTotal"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "catalogId": {
                                    "$ref": "#/components/parameters/catalogId/schema"
                                },
                                "clientId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "title": {
                                    "type": "string",
                                    "example": "Catalog title"
                                },
                                "countActive": {
                                    "type": "number",
                                    "description": "Number of programs referenced in this catalog that exist"
                                },
                                "countTotal": {
                                    "type": "number",
                                    "description": "Number of programs referenced in this catalog (including references to programs that have been removed)"
                                }
                            }
                        }
                    }
                }
            },
            "organizations_catalogs_changes_get_response": {
                "type": "array",
                "items": {
                    "type": "object",
                    "required": [
                        "status",
                        "supplierId",
                        "programId",
                        "clientId",
                        "lastChange"
                    ],
                    "additionalProperties": false,
                    "properties": {
                        "status": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive",
                                "removed"
                            ]
                        },
                        "supplierId": {
                            "$ref": "#/components/schemas/orgUnitIdType"
                        },
                        "programId": {
                            "$ref": "#/components/schemas/programIdType"
                        },
                        "clientId": {
                            "oneOf": [
                                {
                                    "type": "null"
                                },
                                {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                }
                            ]
                        },
                        "lastChange": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the referenced program was last added, removed or changed, or the clientId changed."
                        }
                    }
                }
            },
            "organizations_catalogs_programs_list_response": {
                "type": "array",
                "items": {
                    "type": "object",
                    "required": [
                        "status",
                        "supplierId",
                        "programId",
                        "clientId",
                        "lastChange"
                    ],
                    "additionalProperties": false,
                    "properties": {
                        "status": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        },
                        "supplierId": {
                            "$ref": "#/components/schemas/orgUnitIdType"
                        },
                        "programId": {
                            "$ref": "#/components/schemas/programIdType"
                        },
                        "clientId": {
                            "oneOf": [
                                {
                                    "type": "null"
                                },
                                {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                }
                            ]
                        },
                        "lastChange": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the referenced program was last added, removed or changed, or the clientId changed."
                        }
                    }
                }
            },
            "organizations_staticcatalogs_list_response": {
                "$ref": "#/components/schemas/organizations_catalogs_list_response"
            },
            "organizations_staticcatalogs_post_requestbody": {
                "type": "object",
                "required": [
                    "clientId",
                    "title"
                ],
                "additionalProperties": false,
                "properties": {
                    "clientId": {
                        "description": "The client for which this catalog is intended",
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "title": {
                        "type": "string",
                        "maxLength": 256,
                        "example": "Catalog title"
                    }
                }
            },
            "organizations_staticcatalogs_get_response": {
                "type": "object",
                "required": [
                    "catalogId",
                    "clientId",
                    "title",
                    "countActive",
                    "countTotal"
                ],
                "additionalProperties": false,
                "properties": {
                    "catalogId": {
                        "$ref": "#/components/parameters/catalogId/schema"
                    },
                    "clientId": {
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "title": {
                        "type": "string",
                        "example": "Catalog title"
                    },
                    "countActive": {
                        "type": "number",
                        "description": "Number of programs referenced in this catalog that exist"
                    },
                    "countTotal": {
                        "type": "number",
                        "description": "Number of programs referenced in this catalog (including references to programs that have been removed)"
                    }
                }
            },
            "organizations_staticcatalogs_patch_requestbody": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "title": {
                        "$ref": "#/components/schemas/organizations_staticcatalogs_post_requestbody/properties/title"
                    }
                }
            },
            "organizations_staticcatalogs_programs_bulkadd_post_requestbody": {
                "type": "array",
                "maxItems": 1000,
                "items": {
                    "type": "object",
                    "required": [
                        "supplierId",
                        "programId"
                    ],
                    "additionalProperties": false,
                    "properties": {
                        "supplierId": {
                            "$ref": "#/components/schemas/orgUnitIdType"
                        },
                        "programId": {
                            "$ref": "#/components/schemas/programIdType"
                        }
                    }
                }
            },
            "organizations_staticcatalogs_programs_bulkadd_post_response": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "added": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "status",
                                "supplierId",
                                "programId",
                                "clientId",
                                "lastChange"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "active",
                                        "inactive",
                                        "removed"
                                    ]
                                },
                                "supplierId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "programId": {
                                    "$ref": "#/components/schemas/programIdType"
                                },
                                "clientId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "lastChange": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Date when the referenced program was last added, removed or changed, or the clientId changed."
                                }
                            }
                        }
                    }
                }
            },
            "organizations_staticcatalogs_programs_bulkremove_post_requestbody": {
                "type": "array",
                "maxItems": 1000,
                "items": {
                    "type": "object",
                    "required": [
                        "supplierId",
                        "programId"
                    ],
                    "additionalProperties": false,
                    "properties": {
                        "supplierId": {
                            "$ref": "#/components/schemas/orgUnitIdType"
                        },
                        "programId": {
                            "$ref": "#/components/schemas/programIdType"
                        }
                    }
                }
            },
            "organizations_staticcatalogs_programs_bulkremove_post_response": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "removed": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "status",
                                "supplierId",
                                "programId",
                                "clientId",
                                "lastChange"
                            ],
                            "additionalProperties": false,
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "active",
                                        "inactive",
                                        "removed"
                                    ]
                                },
                                "supplierId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "programId": {
                                    "$ref": "#/components/schemas/programIdType"
                                },
                                "clientId": {
                                    "oneOf": [
                                        {
                                            "type": "null"
                                        },
                                        {
                                            "$ref": "#/components/schemas/orgUnitIdType"
                                        }
                                    ]
                                },
                                "lastChange": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Date when the referenced program was last added, removed or changed, or the clientId changed."
                                }
                            }
                        }
                    }
                }
            },
            "organizations_dynamiccatalogs_post_requestbody": {
                "type": "object",
                "required": [
                    "clientId",
                    "title"
                ],
                "additionalProperties": false,
                "properties": {
                    "clientId": {
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "title": {
                        "type": "string",
                        "maxLength": 256
                    },
                    "regionFilter": {
                        "type": "string",
                        "nullable": true,
                        "pattern": "\\d{4}(-\\d{4})?(,\\d{4}(-\\d{4}))*",
                        "example": "1000-1999,2345"
                    }
                }
            },
            "organizations_dynamiccatalogs_get_response": {
                "type": "object",
                "required": [
                    "catalogId",
                    "clientId",
                    "title",
                    "countActive",
                    "countTotal"
                ],
                "additionalProperties": false,
                "properties": {
                    "catalogId": {
                        "$ref": "#/components/parameters/catalogId/schema"
                    },
                    "clientId": {
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "title": {
                        "type": "string"
                    },
                    "regionFilter": {
                        "type": "string",
                        "nullable": true,
                        "pattern": "\\d{4}(-\\d{4})?(,\\d{4}(-\\d{4}))*",
                        "example": "1000-1999,2345"
                    },
                    "countActive": {
                        "type": "number",
                        "description": "Number of programs referenced in this catalog that exist"
                    },
                    "countTotal": {
                        "type": "number",
                        "description": "Number of programs referenced in this catalog (including references to programs that have been removed)"
                    }
                }
            },
            "organizations_dynamiccatalogs_patch_requestbody": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "title": {
                        "$ref": "#/components/schemas/organizations_dynamiccatalogs_post_requestbody/properties/title"
                    },
                    "regionFilter": {
                        "$ref": "#/components/schemas/organizations_dynamiccatalogs_post_requestbody/properties/regionFilter"
                    }
                }
            },
            "organizations_dynamiccatalogs_suppliers_get_response": {
                "type": "object",
                "required": [
                    "supplierId",
                    "selection"
                ],
                "additionalProperties": false,
                "properties": {
                    "supplierId": {
                        "$ref": "#/components/schemas/orgUnitIdType"
                    },
                    "selection": {
                        "type": "string",
                        "enum": [
                            "all",
                            "onlyincompanyordiscount"
                        ]
                    }
                }
            },
            "organizations_dynamiccatalogs_suppliers_list_response": {
                "type": "object",
                "required": [
                    "suppliers"
                ],
                "additionalProperties": false,
                "properties": {
                    "suppliers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "supplierId",
                                "selection"
                            ],
                            "properties": {
                                "supplierId": {
                                    "$ref": "#/components/schemas/orgUnitIdType"
                                },
                                "selection": {
                                    "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_get_response/properties/selection"
                                }
                            }
                        }
                    }
                }
            },
            "organizations_dynamiccatalogs_suppliers_put_requestbody": {
                "type": "object",
                "required": [
                    "selection"
                ],
                "additionalProperties": false,
                "properties": {
                    "selection": {
                        "$ref": "#/components/schemas/organizations_dynamiccatalogs_suppliers_get_response/properties/selection"
                    }
                }
            },
            "organizations_webhook": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "url",
                    "events",
                    "active",
                    "lastStatus"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "events": {
[...]
